@import 'variables';

*,
:before,
:after {
    box-sizing: border-box;
}

input[type="text"] {
    border: 1px solid darken($gray, 20%);
    &:focus {
        border-color: $blue;
        outline: 0;
    }
}

.btn {
    display: inline-block;
    padding: .5em .75em;
    color: #fff;
    background: darken($gray, 30%);
    border: 1px solid darken($gray, 40%);
    outline: 0;
    border-radius: 3px;
}
